<header class="header">
	<div class="header__container">
		<svg class="logo" aria-hidden="true">
			<use href="./assets/img/svg/sprite.svg#logo"></use>
		</svg>
		<nav>
			<ul class="menu header__menu list-reset">
				<li>
					<a href="#" class="menu__link border-bottom-line active">Home</a>
				</li>
				<li>
					<a href="#" class="menu__link border-bottom-line">About</a>
				</li>
				<li>
					<a href="#" class="menu__link border-bottom-line">Service</a>
				</li>
				<li>
					<a href="#" class="menu__link border-bottom-line">Skills</a>
				</li>
				<li>
					<a href="#" class="menu__link border-bottom-line">Contact Us</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
