<header class="header">
	<div class="header__container container">
		<a href="#" class="logo"><img src="" alt="logo" /></a>

		<div class="mobile-menu">
			<div class="header__content">
				<nav>
					<ul class="menu">
						<li>
							<a href="#" class="menu__link border-bottom-line">Home</a>
						</li>
						<li>
							<a href="#" class="menu__link border-bottom-line">About</a>
						</li>
						<li>
							<a href="#" class="menu__link border-bottom-line">Contact</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>

		@include('../components/burger.html')
	</div>
</header>
