.header {
	padding: 15px 0;
	background-color: #1e1f24;
	&__container {
		max-width: 1530px;
		padding: 0 15px;
		margin: 0 auto;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__menu {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 15px 30px;
	}
}

.menu {
	&__link {
		text-decoration: none;
		color: var(--white);
		&.active {
			&::before {
				transform: scale(1);
			}
		}
	}
}
